<h1>Edit post</h1>
<%= form_for :post, url: post_path(@post), method: :patch, html: {autocomplete: 'off'}  do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>



  <p>
    <%= f.label :title %>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :synopsis %>
    <%= f.text_area(:synopsis, :class => 'form-control') %>
  </p>

  <p><%= f.submit :class => 'btn btn-success' %></p>

<% end %>