<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/app/assets/stylesheets/posts.css" rel="stylesheet">
</head>

<body>

<style>
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
</style>

<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <%= link_to "Title",{ :sort => "title"}, class: 'dropdown-item' %>
    <%= link_to "Synopsis",{ :sort => "synopsis"}, class: 'dropdown-item' %>
    <%= link_to "Oldest",{ :sort => "created_at asc"}, class: 'dropdown-item' %>
    <%= link_to "Newest",{ :sort => "created_at desc"}, class: 'dropdown-item' %>
  </div>

</div>

<main role="main" class="container">

  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Regular link</a>
    <a class="dropdown-item active" href="#">Active link</a>
    <a class="dropdown-item" href="#">Another link</a>
  </div>

    <div class="blog-main " align="center">

      <% @posts.each do |post| %>
        <div class="blog-main " align="center">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= post.title %></h2>
            <p class="blog-post-meta"><%= post.created_at.to_formatted_s(:short)%> by <i><%= post.user_id.present? ? User.find(post.user_id).email : '[deleted]'%></i></p>
            <p class="line-clamp" style="overflow: hidden"><%= post.synopsis %></p>
            <%= link_to "Read more", post_path(post), class: 'btn btn-outline-primary btn-block' %>
          </div>
        </div>
      <% end %>

      <div class="container pagination justify-content-center" >
        <%= paginate @posts, theme: 'twitter-bootstrap-4'%>
      </div>

  </div>
</main>
</body>
</html>