<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/app/assets/stylesheets/posts.css" rel="stylesheet">
</head>

<body>

<style>
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
</style>

<main role="main" class="container">
    <div class="blog-main " align="center">

      <% @posts.each do |post| %>
        <div class="blog-main " align="center">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= post.title %></h2>
            <p class="blog-post-meta"><%= post.created_at.to_formatted_s(:short)%> by <i><%= post.user_id.present? ? User.find(post.user_id).email : '[deleted]'%></i></p>
            <p class="line-clamp" style="overflow: hidden"><%= post.synopsis %></p>
            <%= link_to "Read more", post_path(post), class: 'btn btn-outline-primary btn-block' %>
          </div><!-- /.blog-post -->
        </div>
      <% end %>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

  </div>
</main>
</body>
</html>